.elem{
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    border: 5px solid black;
}
#el1{
    background-color: red;
}
#el2{
    background-color: yellow;
}
#el3{
    background-color: green;
}
#el4{
    background-color: blue;
}
#el5{
    background-color: orange;
}
#el6{
    background-color: brown;
}
.isActive{
    border: 5px solid rgba(0, 0, 0, 0);
}
.main{
    display: flex;
    height: 100vw;
    width: 100vh;
    justify-content: space-between;
}