* {
  box-sizing: border-box;
}
.container {
  width: 600px;
  height: 100%;
  margin: 100px auto;
  padding: 20px;
}
.buttons {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 25px 0px;
}
.buttons button {
  height: 40px;
  padding: 0 20px;
  border: none;
  border-radius: 8px;
  background-color: #e3e8f0;
  outline: none;
}
button.button_add {
  color: white;
  background-color: #059dc0;
  transition: 0.2s;
}
button.button_add:active {
  background-color: #016d85;
}
.text_area,
.text_result {
  width: 100%;
  height: 100%;
  background-color: #e3e8f0;
  border-radius: 8px;
  padding: 20px;
  margin: 25px 0px;
}
.text_area label {
  padding-bottom: 10px;
  display: block;
}
textarea {
  width: 100%;
  border: 4px solid #059dc0;
  border-radius: 5px;
  font-size: 20px;
}
textarea:focus {
  outline-color: coral;
}
.text_result p {
  width: 100%;
  min-height: 25px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
